<div class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-lg w-full max-w-md mx-4 sm:w-2/3 md:w-1/2 lg:w-1/3">
      <div class="px-4 py-2 border-b">
        <h2 class="text-xl font-semibold">
          <div [ngSwitch]="data.type">
            <span *ngSwitchCase="'edit'">Editar Pedido</span>
            <span *ngSwitchCase="'create'">Crear Pedido</span>
            <span *ngSwitchCase="'delete'">Eliminar Pedido</span>
          </div>
        </h2>
      </div>
      <div class="p-4">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-4" *ngIf="data.type !== 'delete'">
            <label class="block text-gray-700">ID Cliente</label>
            <input type="number" [(ngModel)]="data.order.customerId" name="customerId" class="w-full px-3 py-2 border rounded" placeholder="Ingrese Id de la orden" [disabled]="data.type === 'delete'" required>
          </div>
          <div class="mb-4" *ngIf="data.type !== 'delete'">
            <label class="block text-gray-700">Fecha</label>
            <input type="date" [(ngModel)]="data.order.date" name="date" class="w-full px-3 py-2 border rounded" placeholder="Ingrese la fecha" [disabled]="data.type === 'delete'" required>
          </div>
          <div class="mb-4" *ngIf="data.type !== 'delete'">
            <label class="block text-gray-700">Artículos</label>
            <div *ngFor="let item of data.order.items; let i = index">
              <select [(ngModel)]="item.productId" name="productId{{i}}" class="w-full px-3 py-2 border rounded mb-2" [disabled]="data.type === 'delete'" (change)="updatePrice(item, item.productId)" required aria-label="Seleccionar producto">
                <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
              </select>
              <input type="number" [(ngModel)]="item.quantity" name="quantity{{i}}" placeholder="Cantidad" class="w-full px-3 py-2 border rounded mb-2" [disabled]="data.type === 'delete'" (change)="updatePrice(item, item.productId)" required>
              <input type="number" [(ngModel)]="item.price" name="price{{i}}" placeholder="Precio" class="w-full px-3 py-2 border rounded mb-2" [disabled]="true"  required>
              <button type="button" class="text-red-500" (click)="removeItem(i)" *ngIf="data.type !== 'delete'">Eliminar</button>
            </div>
            <button type="button" class="bg-green-500 text-white px-4 py-2 rounded" (click)="addItem()" *ngIf="data.type !== 'delete'">Añadir Artículo</button>
          </div>
          <div class="flex justify-end">
            <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" (click)="onNoClick()">Cancelar</button>
            <button *ngIf="data.type !== 'delete'" type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar</button>
            <button *ngIf="data.type === 'delete'" type="button" class="bg-red-500 text-white px-4 py-2 rounded" (click)="deleteOrder()">Eliminar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  